#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

#mapid {
    height: 300px;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    height: 5rem;
    background: #F5F8FA;
    border-radius: 0px 0px 2.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container footer #select-point {
    color: #17D6EB;
    text-decoration: none;
}